@import url('https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	display: inline;
}

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

@layer components {
	.active {
		@apply bg-gest-accent-blue-500 text-slate-50 rounded-md;

		&:hover {
			@apply text-slate-50;
		}
	}
}
